@import "tailwindcss";
@theme{
  --color-primary: #2997FF;
  --color-secondary: #101010;
  --color-gray:{
    DEFAULT : #86868d,
    100: #94928b,
    200: #afafaf,
    300: #42424578,
  }
}
* {
  margin-top: 8px;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}

canvas {
  touch-action: none;
}

.scrim-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}
